.error-message {
  color: red;
}
.container {
  width: 50%;
  min-width: 300px;
  background-color: #fff;
  padding: 2em 2em;
  margin-top: 6em;
  border-radius: 8px;
}

.jumbotron {
  height: 100vh;
  background-color: #15202c;
  margin-bottom: 0;
  border-radius: 0;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 1em 1em;
    margin-top: 0;
  }
  .jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1em 1em;
  }
  h3 {
    font-size: 16px;
  }
  label {
    font-size: 14px;
  }
}
